{
  "openapi": "3.1.0",
  "info": {
    "title": "RentCast API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.rentcast.io/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/listings/sale": {
      "get": {
        "summary": "Sale Listings",
        "description": "Search for sale listings in a geographical area, or by a specific address.",
        "operationId": "sale-listings",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The **full address** of the property, in the format of `Street, City, State, Zip`. Used to retrieve data for a specific property, or together with the `radius` parameter to search for listings in a specific area",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "The name of the city, used to search for listings in a specific city. This parameter is case-sensitive",
            "schema": {
              "type": "string",
              "default": "Austin"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The 2-character state abbreviation, used to search for listings in a specific state. This parameter is case-sensitive",
            "schema": {
              "type": "string",
              "default": "TX"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "The 5-digit zip code, used to search for listings in a specific zip code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "The latitude of the search area. Use the `latitude`/`longitude` and `radius` parameters to search for listings in a specific area",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "The longitude of the search area. Use the `latitude`/`longitude` and `radius` parameters to search for listings in a specific area",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The radius of the search area in miles, with a maximum of 100. Use in combination with the `latitude`/`longitude` or `address` parameters to search for listings in a specific area",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "description": "The type of the property, used to search for listings matching this criteria. See [explanation of property types](https://developers.rentcast.io/reference/property-types)",
            "schema": {
              "type": "string",
              "enum": [
                "Single Family",
                "Condo",
                "Townhouse",
                "Manufactured",
                "Multi-Family",
                "Apartment",
                "Land"
              ]
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "description": "The number of bedrooms, used to search for listings matching this criteria. Use `0` to indicate a studio layout",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "bathrooms",
            "in": "query",
            "description": "The number of bathrooms, used to search for listings matching this criteria. Supports fractions to indicate partial bathrooms",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The current listing status, used to search for listings matching this criteria. See [explanation of listing statuses](https://developers.rentcast.io/reference/property-listings-schema#listing-status-field-values)",
            "schema": {
              "type": "string",
              "enum": [
                "Active",
                "Inactive"
              ],
              "default": "Active"
            }
          },
          {
            "name": "daysOld",
            "in": "query",
            "description": "The maximum number of days since a property was listed on the market, with a minimum of 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of listings to return, between 1 and 500. Defaults to 50 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination) about pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first listing to return, used to paginate through large lists of results. Defaults to 0 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination) about pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": "[{\"id\":\"3821-Hargis-St,-Austin,-TX-78723\",\"formattedAddress\":\"3821 Hargis St, Austin, TX 78723\",\"addressLine1\":\"3821 Hargis St\",\"addressLine2\":null,\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78723\",\"county\":\"Travis\",\"latitude\":30.290643,\"longitude\":-97.701547,\"propertyType\":\"Single Family\",\"bedrooms\":4,\"bathrooms\":2.5,\"squareFootage\":2345,\"lotSize\":3284,\"yearBuilt\":2008,\"hoa\":{\"fee\":65},\"status\":\"Active\",\"price\":899000,\"listingType\":\"Standard\",\"listedDate\":\"2024-06-24T00:00:00.000Z\",\"removedDate\":null,\"createdDate\":\"2021-06-25T00:00:00.000Z\",\"lastSeenDate\":\"2024-09-30T13:11:47.157Z\",\"daysOnMarket\":99,\"mlsName\":\"UnlockMLS\",\"mlsNumber\":\"5519228\",\"listingAgent\":{\"name\":\"Jennifer Welch\",\"phone\":\"5124313110\",\"email\":\"jennifer@gottesmanresidential.com\",\"website\":\"https://www.gottesmanresidential.com\"},\"listingOffice\":{\"name\":\"Gottesman Residential R.E.\",\"phone\":\"5124512422\",\"email\":\"nataliem@gottesmanresidential.com\",\"website\":\"https://www.gottesmanresidential.com\"},\"history\":{\"2024-06-24\":{\"event\":\"Sale Listing\",\"price\":899000,\"listingType\":\"Standard\",\"listedDate\":\"2024-06-24T00:00:00.000Z\",\"removedDate\":null,\"daysOnMarket\":99}}},{\"id\":\"6808-Windrift-Way,-Austin,-TX-78745\",\"formattedAddress\":\"6808 Windrift Way, Austin, TX 78745\",\"addressLine1\":\"6808 Windrift Way\",\"addressLine2\":null,\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78745\",\"county\":\"Travis\",\"latitude\":30.199388,\"longitude\":-97.798729,\"propertyType\":\"Single Family\",\"bedrooms\":3,\"bathrooms\":2,\"squareFootage\":1199,\"lotSize\":6390,\"yearBuilt\":1974,\"status\":\"Active\",\"price\":424900,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-03T00:00:00.000Z\",\"removedDate\":null,\"createdDate\":\"2023-08-15T00:00:00.000Z\",\"lastSeenDate\":\"2024-09-28T13:48:38.179Z\",\"daysOnMarket\":270,\"mlsName\":\"UnlockMLS\",\"mlsNumber\":\"5589475\",\"listingAgent\":{\"name\":\"Christopher Watters\",\"phone\":\"7373135275\",\"email\":\"sold@wattersinternational.com\",\"website\":\"https://www.christopherwatters.com\"},\"listingOffice\":{\"name\":\"Watters International Realty\",\"phone\":\"5126460038\",\"email\":\"chriswatters@wattersinternational.com\",\"website\":\"https://www.christopherwatters.com\"},\"history\":{\"2024-01-03\":{\"event\":\"Sale Listing\",\"price\":424900,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-03T00:00:00.000Z\",\"removedDate\":null,\"daysOnMarket\":270}}},{\"id\":\"54-Rainey-St,-Apt-513,-Austin,-TX-78701\",\"formattedAddress\":\"54 Rainey St, Apt 513, Austin, TX 78701\",\"addressLine1\":\"54 Rainey St\",\"addressLine2\":\"Apt 513\",\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78701\",\"county\":\"Travis\",\"latitude\":30.257382,\"longitude\":-97.739444,\"propertyType\":\"Condo\",\"bedrooms\":2,\"bathrooms\":2,\"squareFootage\":1164,\"lotSize\":12712986,\"yearBuilt\":2005,\"hoa\":{\"fee\":803},\"status\":\"Active\",\"price\":560000,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-04T00:00:00.000Z\",\"removedDate\":null,\"createdDate\":\"2024-01-05T00:00:00.000Z\",\"lastSeenDate\":\"2024-09-28T13:48:39.150Z\",\"daysOnMarket\":269,\"mlsName\":\"UnlockMLS\",\"mlsNumber\":\"1594185\",\"listingAgent\":{\"name\":\"Adam Zell\",\"phone\":\"5128204918\",\"email\":\"adam.zell@compass.com\",\"website\":\"https://www.compass.com\"},\"listingOffice\":{\"name\":\"Compass RE Texas LLC - Austin\",\"phone\":\"5125753644\",\"email\":\"txbroker@compass.com\",\"website\":\"https://www.compass.com\"},\"history\":{\"2024-01-04\":{\"event\":\"Sale Listing\",\"price\":560000,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-04T00:00:00.000Z\",\"removedDate\":null,\"daysOnMarket\":269}}},{\"id\":\"15407-Patrica-St,-Austin,-TX-78728\",\"formattedAddress\":\"15407 Patrica St, Austin, TX 78728\",\"addressLine1\":\"15407 Patrica St\",\"addressLine2\":null,\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78728\",\"county\":\"Travis\",\"latitude\":30.451009,\"longitude\":-97.669682,\"propertyType\":\"Single Family\",\"bedrooms\":3,\"bathrooms\":2,\"squareFootage\":1680,\"lotSize\":12632,\"yearBuilt\":1995,\"status\":\"Active\",\"price\":720000,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-18T00:00:00.000Z\",\"removedDate\":null,\"createdDate\":\"2021-02-13T00:00:00.000Z\",\"lastSeenDate\":\"2024-09-28T13:49:05.753Z\",\"daysOnMarket\":255,\"mlsName\":\"UnlockMLS\",\"mlsNumber\":\"4738210\",\"listingAgent\":{\"name\":\"Minerva Juarez\",\"phone\":\"5127333557\",\"website\":\"https://minervajuarez-realtor.com\"},\"listingOffice\":{\"name\":\"Keller Williams Realty\",\"phone\":\"5123463550\",\"email\":\"mecook@kw.com\"},\"history\":{\"2024-01-18\":{\"event\":\"Sale Listing\",\"price\":720000,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-18T00:00:00.000Z\",\"removedDate\":null,\"daysOnMarket\":255}}},{\"id\":\"2681-Crazyhorse-Pass,-Austin,-TX-78734\",\"formattedAddress\":\"2681 Crazyhorse Pass, Austin, TX 78734\",\"addressLine1\":\"2681 Crazyhorse Pass\",\"addressLine2\":null,\"city\":\"Austin\",\"state\":\"TX\",\"zipCode\":\"78734\",\"county\":\"Travis\",\"latitude\":30.377405,\"longitude\":-97.928841,\"propertyType\":\"Manufactured\",\"bedrooms\":3,\"bathrooms\":2,\"squareFootage\":1792,\"lotSize\":9496,\"yearBuilt\":1995,\"hoa\":{\"fee\":8},\"status\":\"Active\",\"price\":299999,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-18T00:00:00.000Z\",\"removedDate\":null,\"createdDate\":\"2023-10-11T00:00:00.000Z\",\"lastSeenDate\":\"2024-09-28T13:49:05.749Z\",\"daysOnMarket\":255,\"mlsName\":\"SanAntonio\",\"mlsNumber\":\"1745284\",\"listingAgent\":{\"name\":\"Yesenia Quevedo\",\"phone\":\"2102545895\",\"email\":\"yeseniaquevedosatx@gmail.com\"},\"listingOffice\":{\"name\":\"LPT Realty LLC\",\"phone\":\"8773662213\",\"email\":\"rodney@rodneyhenson.com\"},\"history\":{\"2024-01-18\":{\"event\":\"Sale Listing\",\"price\":299999,\"listingType\":\"Standard\",\"listedDate\":\"2024-01-18T00:00:00.000Z\",\"removedDate\":null,\"daysOnMarket\":255}}}]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "3821-Hargis-St,-Austin,-TX-78723"
                      },
                      "formattedAddress": {
                        "type": "string",
                        "example": "3821 Hargis St, Austin, TX 78723"
                      },
                      "addressLine1": {
                        "type": "string",
                        "example": "3821 Hargis St"
                      },
                      "addressLine2": {},
                      "city": {
                        "type": "string",
                        "example": "Austin"
                      },
                      "state": {
                        "type": "string",
                        "example": "TX"
                      },
                      "zipCode": {
                        "type": "string",
                        "example": "78723"
                      },
                      "county": {
                        "type": "string",
                        "example": "Travis"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 30.290643,
                        "default": 0
                      },
                      "longitude": {
                        "type": "number",
                        "example": -97.701547,
                        "default": 0
                      },
                      "propertyType": {
                        "type": "string",
                        "example": "Single Family"
                      },
                      "bedrooms": {
                        "type": "integer",
                        "example": 4,
                        "default": 0
                      },
                      "bathrooms": {
                        "type": "number",
                        "example": 2.5,
                        "default": 0
                      },
                      "squareFootage": {
                        "type": "integer",
                        "example": 2345,
                        "default": 0
                      },
                      "lotSize": {
                        "type": "integer",
                        "example": 3284,
                        "default": 0
                      },
                      "yearBuilt": {
                        "type": "integer",
                        "example": 2008,
                        "default": 0
                      },
                      "hoa": {
                        "type": "object",
                        "properties": {
                          "fee": {
                            "type": "integer",
                            "example": 65,
                            "default": 0
                          }
                        }
                      },
                      "status": {
                        "type": "string",
                        "example": "Active"
                      },
                      "price": {
                        "type": "integer",
                        "example": 899000,
                        "default": 0
                      },
                      "listingType": {
                        "type": "string",
                        "example": "Standard"
                      },
                      "listedDate": {
                        "type": "string",
                        "example": "2024-06-24T00:00:00.000Z"
                      },
                      "removedDate": {},
                      "createdDate": {
                        "type": "string",
                        "example": "2021-06-25T00:00:00.000Z"
                      },
                      "lastSeenDate": {
                        "type": "string",
                        "example": "2024-09-30T13:11:47.157Z"
                      },
                      "daysOnMarket": {
                        "type": "integer",
                        "example": 99,
                        "default": 0
                      },
                      "mlsName": {
                        "type": "string",
                        "example": "UnlockMLS"
                      },
                      "mlsNumber": {
                        "type": "string",
                        "example": "5519228"
                      },
                      "listingAgent": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Jennifer Welch"
                          },
                          "phone": {
                            "type": "string",
                            "example": "5124313110"
                          },
                          "email": {
                            "type": "string",
                            "example": "jennifer@gottesmanresidential.com"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://www.gottesmanresidential.com"
                          }
                        }
                      },
                      "listingOffice": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Gottesman Residential R.E."
                          },
                          "phone": {
                            "type": "string",
                            "example": "5124512422"
                          },
                          "email": {
                            "type": "string",
                            "example": "nataliem@gottesmanresidential.com"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://www.gottesmanresidential.com"
                          }
                        }
                      },
                      "history": {
                        "type": "object",
                        "properties": {
                          "2024-06-24": {
                            "type": "object",
                            "properties": {
                              "event": {
                                "type": "string",
                                "example": "Sale Listing"
                              },
                              "price": {
                                "type": "integer",
                                "example": 899000,
                                "default": 0
                              },
                              "listingType": {
                                "type": "string",
                                "example": "Standard"
                              },
                              "listedDate": {
                                "type": "string",
                                "example": "2024-06-24T00:00:00.000Z"
                              },
                              "removedDate": {},
                              "daysOnMarket": {
                                "type": "integer",
                                "example": 99,
                                "default": 0
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/properties": {
      "get": {
        "summary": "Property Records",
        "description": "Search for property records in a geographical area, or by a specific address.",
        "operationId": "property-records",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The **full address** of the property, in the format of `Street, City, State, Zip`. Used to retrieve data for a specific property, or together with the `radius` parameter to search for properties in a specific area",
            "schema": {
              "type": "string",
              "default": "5500 Grand Lake Dr, San Antonio, TX, 78244"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "The name of the city, used to search for properties in a specific city. This parameter is case-sensitive",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The 2-character state abbreviation, used to search for properties in a specific state. This parameter is case-sensitive",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "The 5-digit zip code, used to search for properties in a specific zip code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "The latitude of the search area. Use the `latitude`/`longitude` and `radius` parameters to search for properties in a specific area",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "The longitude of the search area. Use the `latitude`/`longitude` and `radius` parameters to search for properties in a specific area",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The radius of the search area in miles, with a maximum of 100. Use in combination with the `latitude`/`longitude` or `address` parameters to search for properties in a specific area",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "description": "The type of the property, used to search for properties matching this criteria. See [explanation of property types](https://developers.rentcast.io/reference/property-types)",
            "schema": {
              "type": "string",
              "enum": [
                "Single Family",
                "Condo",
                "Townhouse",
                "Manufactured",
                "Multi-Family",
                "Apartment",
                "Land"
              ]
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "description": "The number of bedrooms, used to search for properties matching this criteria. Use `0` to indicate a studio layout",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "bathrooms",
            "in": "query",
            "description": "The number of bathrooms, used to search for properties matching this criteria. Supports fractions to indicate partial bathrooms",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "saleDateRange",
            "in": "query",
            "description": "The maximum number of days since a property was last sold, with a minimum of 1. Used to search for properties that were sold within the specified date range",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of property records to return, between 1 and 500. Defaults to 50 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination) about pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first property record to return, used to paginate through large lists of results. Defaults to 0 if not provided. [Learn more](https://developers.rentcast.io/reference/pagination) about pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": "[{\"id\":\"5500-Grand-Lake-Dr,-San-Antonio,-TX-78244\",\"formattedAddress\":\"5500 Grand Lake Dr, San Antonio, TX 78244\",\"addressLine1\":\"5500 Grand Lake Dr\",\"addressLine2\":null,\"city\":\"San Antonio\",\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"latitude\":29.476011,\"longitude\":-98.351454,\"propertyType\":\"Single Family\",\"bedrooms\":3,\"bathrooms\":2,\"squareFootage\":1878,\"lotSize\":8843,\"yearBuilt\":1973,\"assessorID\":\"05076-103-0500\",\"legalDescription\":\"CB 5076A BLK 3 LOT 50\",\"subdivision\":\"CONV A/S CODE\",\"zoning\":\"RH\",\"lastSaleDate\":\"2017-10-19T00:00:00.000Z\",\"lastSalePrice\":185000,\"hoa\":{\"fee\":175},\"features\":{\"architectureType\":\"Contemporary\",\"cooling\":true,\"coolingType\":\"Central\",\"exteriorType\":\"Wood\",\"fireplace\":true,\"fireplaceType\":\"Masonry\",\"floorCount\":1,\"foundationType\":\"Slab / Mat / Raft\",\"garage\":true,\"garageSpaces\":2,\"garageType\":\"Garage\",\"heating\":true,\"heatingType\":\"Forced Air\",\"pool\":true,\"poolType\":\"Concrete\",\"roofType\":\"Asphalt\",\"roomCount\":5,\"unitCount\":1,\"viewType\":\"City\"},\"taxAssessments\":{\"2019\":{\"year\":2019,\"value\":135430,\"land\":23450,\"improvements\":111980},\"2020\":{\"year\":2020,\"value\":142610,\"land\":23450,\"improvements\":119160},\"2021\":{\"year\":2021,\"value\":163440,\"land\":45050,\"improvements\":118390},\"2022\":{\"year\":2022,\"value\":197600,\"land\":49560,\"improvements\":148040},\"2023\":{\"year\":2023,\"value\":225790,\"land\":59380,\"improvements\":166410}},\"propertyTaxes\":{\"2019\":{\"year\":2019,\"total\":2984},\"2020\":{\"year\":2020,\"total\":3023},\"2021\":{\"year\":2021,\"total\":3455},\"2022\":{\"year\":2022,\"total\":4091},\"2023\":{\"year\":2023,\"total\":4201}},\"history\":{\"2004-06-16\":{\"event\":\"Sale\",\"date\":\"2004-06-16T00:00:00.000Z\",\"price\":95000},\"2017-10-19\":{\"event\":\"Sale\",\"date\":\"2017-10-19T00:00:00.000Z\",\"price\":185000}},\"owner\":{\"names\":[\"Michael Smith\"],\"type\":\"Individual\",\"mailingAddress\":{\"id\":\"149-Weaver-Blvd,---264,-Weaverville,-NC-28787\",\"formattedAddress\":\"149 Weaver Blvd, # 264, Weaverville, NC 28787\",\"addressLine1\":\"149 Weaver Blvd\",\"addressLine2\":\"# 264\",\"city\":\"Weaverville\",\"state\":\"NC\",\"zipCode\":\"28787\"}},\"ownerOccupied\":false}]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "5500-Grand-Lake-Dr,-San-Antonio,-TX-78244"
                      },
                      "formattedAddress": {
                        "type": "string",
                        "example": "5500 Grand Lake Dr, San Antonio, TX 78244"
                      },
                      "addressLine1": {
                        "type": "string",
                        "example": "5500 Grand Lake Dr"
                      },
                      "addressLine2": {},
                      "city": {
                        "type": "string",
                        "example": "San Antonio"
                      },
                      "state": {
                        "type": "string",
                        "example": "TX"
                      },
                      "zipCode": {
                        "type": "string",
                        "example": "78244"
                      },
                      "county": {
                        "type": "string",
                        "example": "Bexar"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 29.476011,
                        "default": 0
                      },
                      "longitude": {
                        "type": "number",
                        "example": -98.351454,
                        "default": 0
                      },
                      "propertyType": {
                        "type": "string",
                        "example": "Single Family"
                      },
                      "bedrooms": {
                        "type": "integer",
                        "example": 3,
                        "default": 0
                      },
                      "bathrooms": {
                        "type": "integer",
                        "example": 2,
                        "default": 0
                      },
                      "squareFootage": {
                        "type": "integer",
                        "example": 1878,
                        "default": 0
                      },
                      "lotSize": {
                        "type": "integer",
                        "example": 8843,
                        "default": 0
                      },
                      "yearBuilt": {
                        "type": "integer",
                        "example": 1973,
                        "default": 0
                      },
                      "assessorID": {
                        "type": "string",
                        "example": "05076-103-0500"
                      },
                      "legalDescription": {
                        "type": "string",
                        "example": "CB 5076A BLK 3 LOT 50"
                      },
                      "subdivision": {
                        "type": "string",
                        "example": "CONV A/S CODE"
                      },
                      "zoning": {
                        "type": "string",
                        "example": "RH"
                      },
                      "lastSaleDate": {
                        "type": "string",
                        "example": "2017-10-19T00:00:00.000Z"
                      },
                      "lastSalePrice": {
                        "type": "integer",
                        "example": 185000,
                        "default": 0
                      },
                      "hoa": {
                        "type": "object",
                        "properties": {
                          "fee": {
                            "type": "integer",
                            "example": 175,
                            "default": 0
                          }
                        }
                      },
                      "features": {
                        "type": "object",
                        "properties": {
                          "architectureType": {
                            "type": "string",
                            "example": "Contemporary"
                          },
                          "cooling": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "coolingType": {
                            "type": "string",
                            "example": "Central"
                          },
                          "exteriorType": {
                            "type": "string",
                            "example": "Wood"
                          },
                          "fireplace": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "fireplaceType": {
                            "type": "string",
                            "example": "Masonry"
                          },
                          "floorCount": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "foundationType": {
                            "type": "string",
                            "example": "Slab / Mat / Raft"
                          },
                          "garage": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "garageSpaces": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "garageType": {
                            "type": "string",
                            "example": "Garage"
                          },
                          "heating": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "heatingType": {
                            "type": "string",
                            "example": "Forced Air"
                          },
                          "pool": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "poolType": {
                            "type": "string",
                            "example": "Concrete"
                          },
                          "roofType": {
                            "type": "string",
                            "example": "Asphalt"
                          },
                          "roomCount": {
                            "type": "integer",
                            "example": 5,
                            "default": 0
                          },
                          "unitCount": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "viewType": {
                            "type": "string",
                            "example": "City"
                          }
                        }
                      },
                      "taxAssessments": {
                        "type": "object",
                        "properties": {
                          "2019": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2019,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 135430,
                                "default": 0
                              },
                              "land": {
                                "type": "integer",
                                "example": 23450,
                                "default": 0
                              },
                              "improvements": {
                                "type": "integer",
                                "example": 111980,
                                "default": 0
                              }
                            }
                          },
                          "2020": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2020,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 142610,
                                "default": 0
                              },
                              "land": {
                                "type": "integer",
                                "example": 23450,
                                "default": 0
                              },
                              "improvements": {
                                "type": "integer",
                                "example": 119160,
                                "default": 0
                              }
                            }
                          },
                          "2021": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2021,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 163440,
                                "default": 0
                              },
                              "land": {
                                "type": "integer",
                                "example": 45050,
                                "default": 0
                              },
                              "improvements": {
                                "type": "integer",
                                "example": 118390,
                                "default": 0
                              }
                            }
                          },
                          "2022": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2022,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 197600,
                                "default": 0
                              },
                              "land": {
                                "type": "integer",
                                "example": 49560,
                                "default": 0
                              },
                              "improvements": {
                                "type": "integer",
                                "example": 148040,
                                "default": 0
                              }
                            }
                          },
                          "2023": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2023,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 225790,
                                "default": 0
                              },
                              "land": {
                                "type": "integer",
                                "example": 59380,
                                "default": 0
                              },
                              "improvements": {
                                "type": "integer",
                                "example": 166410,
                                "default": 0
                              }
                            }
                          }
                        }
                      },
                      "propertyTaxes": {
                        "type": "object",
                        "properties": {
                          "2019": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2019,
                                "default": 0
                              },
                              "total": {
                                "type": "integer",
                                "example": 2984,
                                "default": 0
                              }
                            }
                          },
                          "2020": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2020,
                                "default": 0
                              },
                              "total": {
                                "type": "integer",
                                "example": 3023,
                                "default": 0
                              }
                            }
                          },
                          "2021": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2021,
                                "default": 0
                              },
                              "total": {
                                "type": "integer",
                                "example": 3455,
                                "default": 0
                              }
                            }
                          },
                          "2022": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2022,
                                "default": 0
                              },
                              "total": {
                                "type": "integer",
                                "example": 4091,
                                "default": 0
                              }
                            }
                          },
                          "2023": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "example": 2023,
                                "default": 0
                              },
                              "total": {
                                "type": "integer",
                                "example": 4201,
                                "default": 0
                              }
                            }
                          }
                        }
                      },
                      "history": {
                        "type": "object",
                        "properties": {
                          "2004-06-16": {
                            "type": "object",
                            "properties": {
                              "event": {
                                "type": "string",
                                "example": "Sale"
                              },
                              "date": {
                                "type": "string",
                                "example": "2004-06-16T00:00:00.000Z"
                              },
                              "price": {
                                "type": "integer",
                                "example": 95000,
                                "default": 0
                              }
                            }
                          },
                          "2017-10-19": {
                            "type": "object",
                            "properties": {
                              "event": {
                                "type": "string",
                                "example": "Sale"
                              },
                              "date": {
                                "type": "string",
                                "example": "2017-10-19T00:00:00.000Z"
                              },
                              "price": {
                                "type": "integer",
                                "example": 185000,
                                "default": 0
                              }
                            }
                          }
                        }
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "Michael Smith"
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "Individual"
                          },
                          "mailingAddress": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "149-Weaver-Blvd,---264,-Weaverville,-NC-28787"
                              },
                              "formattedAddress": {
                                "type": "string",
                                "example": "149 Weaver Blvd, # 264, Weaverville, NC 28787"
                              },
                              "addressLine1": {
                                "type": "string",
                                "example": "149 Weaver Blvd"
                              },
                              "addressLine2": {
                                "type": "string",
                                "example": "# 264"
                              },
                              "city": {
                                "type": "string",
                                "example": "Weaverville"
                              },
                              "state": {
                                "type": "string",
                                "example": "NC"
                              },
                              "zipCode": {
                                "type": "string",
                                "example": "28787"
                              }
                            }
                          }
                        }
                      },
                      "ownerOccupied": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/avm/value": {
      "get": {
        "summary": "Value Estimate",
        "description": "Returns a property value estimate and comparable properties.",
        "operationId": "value-estimate",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The **full address** of the property, in the format of `Street, City, State, Zip`. You need to provide either the `address` or the `latitude`/`longitude` parameters",
            "schema": {
              "type": "string",
              "default": "5500 Grand Lake Drive, San Antonio, TX, 78244"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "The latitude of the property. The `latitude`/`longitude` can be provided instead of the `address` parameter",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "The longitude of the property. The `latitude`/`longitude` can be provided instead of the `address` parameter",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "description": "The type of the property. See [explanation of property types](https://developers.rentcast.io/reference/property-types)",
            "schema": {
              "type": "string",
              "enum": [
                "Single Family",
                "Condo",
                "Townhouse",
                "Manufactured",
                "Multi-Family",
                "Apartment",
                "Land"
              ],
              "default": "Single Family"
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "description": "The number of bedrooms in the property. Use `0` to indicate a studio layout",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 4
            }
          },
          {
            "name": "bathrooms",
            "in": "query",
            "description": "The number of bathrooms in the property. Supports fractions to indicate partial bathrooms",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 2
            }
          },
          {
            "name": "squareFootage",
            "in": "query",
            "description": "The total living area size of the property, in square feet",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 1600
            }
          },
          {
            "name": "maxRadius",
            "in": "query",
            "description": "The maximum distance between comparable listings and the subject property, in miles",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "daysOld",
            "in": "query",
            "description": "The maximum number of days since comparable listings were last seen on the market, with a minimum of 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "compCount",
            "in": "query",
            "description": "The number of comparable listings to use when calculating the value estimate, between 5 and 25. Defaults to 15 if not provided",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": "{\"price\":221000,\"priceRangeLow\":208000,\"priceRangeHigh\":233000,\"latitude\":29.475962,\"longitude\":-98.351442,\"comparables\":[{\"id\":\"5014-Fern-Lk,-San-Antonio,-TX-78244\",\"formattedAddress\":\"5014 Fern Lk, San Antonio, TX 78244\",\"addressLine1\":\"5014 Fern Lk\",\"addressLine2\":null,\"city\":\"San Antonio\",\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"latitude\":29.471777,\"longitude\":-98.350172,\"propertyType\":\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\":1747,\"lotSize\":6316,\"yearBuilt\":1986,\"price\":229900,\"listingType\":\"Standard\",\"listedDate\":\"2024-04-03T00:00:00.000Z\",\"removedDate\":\"2024-05-26T00:00:00.000Z\",\"lastSeenDate\":\"2024-05-25T13:11:55.018Z\",\"daysOnMarket\":53,\"distance\":0.2994,\"daysOld\":127,\"correlation\":0.9822},{\"id\":\"6807-Indian-Lake-Dr,-San-Antonio,-TX-78244\",\"formattedAddress\":\"6807 Indian Lake Dr, San Antonio, TX 78244\",\"addressLine1\":\"6807 Indian Lake Dr\",\"addressLine2\":null,\"city\":\"San Antonio\",\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"latitude\":29.477682,\"longitude\":-98.354718,\"propertyType\":\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\":1786,\"lotSize\":7841,\"yearBuilt\":1972,\"price\":199000,\"listingType\":\"Standard\",\"listedDate\":\"2024-07-13T00:00:00.000Z\",\"removedDate\":\"2024-08-28T00:00:00.000Z\",\"lastSeenDate\":\"2024-08-27T13:13:46.389Z\",\"daysOnMarket\":46,\"distance\":0.2304,\"daysOld\":33,\"correlation\":0.9811},{\"id\":\"6730-Stone-Lake-Dr,-San-Antonio,-TX-78244\",\"formattedAddress\":\"6730 Stone Lake Dr, San Antonio, TX 78244\",\"addressLine1\":\"6730 Stone Lake Dr\",\"addressLine2\":null,\"city\":\"San Antonio\",\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"latitude\":29.477216,\"longitude\":-98.355968,\"propertyType\":\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\":1810,\"lotSize\":8146,\"yearBuilt\":1977,\"price\":215000,\"listingType\":\"Standard\",\"listedDate\":\"2024-06-14T00:00:00.000Z\",\"removedDate\":\"2024-07-19T00:00:00.000Z\",\"lastSeenDate\":\"2024-07-18T13:09:59.576Z\",\"daysOnMarket\":35,\"distance\":0.286,\"daysOld\":73,\"correlation\":0.9782},{\"id\":\"6162-Brandys-Farm,-San-Antonio,-TX-78244\",\"formattedAddress\":\"6162 Brandys Farm, San Antonio, TX 78244\",\"addressLine1\":\"6162 Brandys Farm\",\"addressLine2\":null,\"city\":\"San Antonio\",\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"latitude\":29.469905,\"longitude\":-98.366161,\"propertyType\":\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\":1646,\"lotSize\":5489,\"yearBuilt\":2003,\"price\":240000,\"listingType\":\"Standard\",\"listedDate\":\"2024-07-19T00:00:00.000Z\",\"removedDate\":null,\"lastSeenDate\":\"2024-09-28T13:21:51.018Z\",\"daysOnMarket\":72,\"distance\":0.9804,\"daysOld\":1,\"correlation\":0.9779},{\"id\":\"4702-Juniper-Farm,-San-Antonio,-TX-78244\",\"formattedAddress\":\"4702 Juniper Farm, San Antonio, TX 78244\",\"addressLine1\":\"4702 Juniper Farm\",\"addressLine2\":null,\"city\":\"San Antonio\",\"state\":\"TX\",\"zipCode\":\"78244\",\"county\":\"Bexar\",\"latitude\":29.470026,\"longitude\":-98.363753,\"propertyType\":\"Single Family\",\"bedrooms\":4,\"bathrooms\":2,\"squareFootage\":1445,\"lotSize\":6142,\"yearBuilt\":2001,\"price\":219999,\"listingType\":\"Standard\",\"listedDate\":\"2024-09-22T00:00:00.000Z\",\"removedDate\":null,\"lastSeenDate\":\"2024-09-28T11:03:35.633Z\",\"daysOnMarket\":7,\"distance\":0.8475,\"daysOld\":1,\"correlation\":0.9707}]}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": {
                      "type": "integer",
                      "example": 221000,
                      "default": 0
                    },
                    "priceRangeLow": {
                      "type": "integer",
                      "example": 208000,
                      "default": 0
                    },
                    "priceRangeHigh": {
                      "type": "integer",
                      "example": 233000,
                      "default": 0
                    },
                    "latitude": {
                      "type": "number",
                      "example": 29.475962,
                      "default": 0
                    },
                    "longitude": {
                      "type": "number",
                      "example": -98.351442,
                      "default": 0
                    },
                    "comparables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5014-Fern-Lk,-San-Antonio,-TX-78244"
                          },
                          "formattedAddress": {
                            "type": "string",
                            "example": "5014 Fern Lk, San Antonio, TX 78244"
                          },
                          "addressLine1": {
                            "type": "string",
                            "example": "5014 Fern Lk"
                          },
                          "addressLine2": {},
                          "city": {
                            "type": "string",
                            "example": "San Antonio"
                          },
                          "state": {
                            "type": "string",
                            "example": "TX"
                          },
                          "zipCode": {
                            "type": "string",
                            "example": "78244"
                          },
                          "county": {
                            "type": "string",
                            "example": "Bexar"
                          },
                          "latitude": {
                            "type": "number",
                            "example": 29.471777,
                            "default": 0
                          },
                          "longitude": {
                            "type": "number",
                            "example": -98.350172,
                            "default": 0
                          },
                          "propertyType": {
                            "type": "string",
                            "example": "Single Family"
                          },
                          "bedrooms": {
                            "type": "integer",
                            "example": 4,
                            "default": 0
                          },
                          "bathrooms": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "squareFootage": {
                            "type": "integer",
                            "example": 1747,
                            "default": 0
                          },
                          "lotSize": {
                            "type": "integer",
                            "example": 6316,
                            "default": 0
                          },
                          "yearBuilt": {
                            "type": "integer",
                            "example": 1986,
                            "default": 0
                          },
                          "price": {
                            "type": "integer",
                            "example": 229900,
                            "default": 0
                          },
                          "listingType": {
                            "type": "string",
                            "example": "Standard"
                          },
                          "listedDate": {
                            "type": "string",
                            "example": "2024-04-03T00:00:00.000Z"
                          },
                          "removedDate": {
                            "type": "string",
                            "example": "2024-05-26T00:00:00.000Z"
                          },
                          "lastSeenDate": {
                            "type": "string",
                            "example": "2024-05-25T13:11:55.018Z"
                          },
                          "daysOnMarket": {
                            "type": "integer",
                            "example": 53,
                            "default": 0
                          },
                          "distance": {
                            "type": "number",
                            "example": 0.2994,
                            "default": 0
                          },
                          "daysOld": {
                            "type": "integer",
                            "example": 127,
                            "default": 0
                          },
                          "correlation": {
                            "type": "number",
                            "example": 0.9822,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/markets": {
      "get": {
        "summary": "Market Statistics",
        "description": "Returns aggregate market statistics and listing trends for a single US zip code.",
        "operationId": "market-statistics",
        "parameters": [
          {
            "name": "zipCode",
            "in": "query",
            "description": "A valid 5-digit US zip code",
            "required": true,
            "schema": {
              "type": "string",
              "default": "29611"
            }
          },
          {
            "name": "dataType",
            "in": "query",
            "description": "The type of aggregate market data to retrieve. Defaults to \"All\" if not provided",
            "schema": {
              "type": "string",
              "enum": [
                "All",
                "Sale",
                "Rental"
              ],
              "default": "All"
            }
          },
          {
            "name": "historyRange",
            "in": "query",
            "description": "The time range for historical record entries, in months. Defaults to 12 if not provided",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 6
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": "{\"id\":\"29611\",\"zipCode\":\"29611\",\"saleData\":{\"lastUpdatedDate\":\"2024-10-14T00:00:00.000Z\",\"averagePrice\":291933,\"medianPrice\":276990,\"minPrice\":20000,\"maxPrice\":1500000,\"averagePricePerSquareFoot\":186.53,\"medianPricePerSquareFoot\":178,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1698,\"medianSquareFootage\":1600,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":67.21,\"medianDaysOnMarket\":45,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":348,\"newListings\":21,\"totalListings\":265,\"dataByPropertyType\":[{\"propertyType\":\"Condo\",\"averagePrice\":144900,\"medianPrice\":144900,\"minPrice\":144900,\"maxPrice\":144900,\"averagePricePerSquareFoot\":129.26,\"medianPricePerSquareFoot\":129.26,\"minPricePerSquareFoot\":129.26,\"maxPricePerSquareFoot\":129.26,\"averageSquareFootage\":1121,\"medianSquareFootage\":1121,\"minSquareFootage\":1121,\"maxSquareFootage\":1121,\"averageDaysOnMarket\":61,\"medianDaysOnMarket\":61,\"minDaysOnMarket\":61,\"maxDaysOnMarket\":61,\"newListings\":0,\"totalListings\":1},{\"propertyType\":\"Land\",\"averagePrice\":235056,\"medianPrice\":90000,\"minPrice\":20000,\"maxPrice\":1500000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":137.52,\"medianDaysOnMarket\":113,\"minDaysOnMarket\":15,\"maxDaysOnMarket\":348,\"newListings\":0,\"totalListings\":32},{\"propertyType\":\"Manufactured\",\"averagePrice\":213976,\"medianPrice\":175000,\"minPrice\":39900,\"maxPrice\":850000,\"averagePricePerSquareFoot\":149.04,\"medianPricePerSquareFoot\":120.36,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":351.97,\"averageSquareFootage\":1599,\"medianSquareFootage\":1500,\"minSquareFootage\":1000,\"maxSquareFootage\":2415,\"averageDaysOnMarket\":49,\"medianDaysOnMarket\":25,\"minDaysOnMarket\":4,\"maxDaysOnMarket\":312,\"newListings\":2,\"totalListings\":12},{\"propertyType\":\"Multi-Family\",\"averagePrice\":265000,\"medianPrice\":265000,\"minPrice\":265000,\"maxPrice\":265000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":6.5,\"medianDaysOnMarket\":6,\"minDaysOnMarket\":6,\"maxDaysOnMarket\":7,\"newListings\":0,\"totalListings\":2},{\"propertyType\":\"Single Family\",\"averagePrice\":307585,\"medianPrice\":285000,\"minPrice\":85018,\"maxPrice\":750000,\"averagePricePerSquareFoot\":191.54,\"medianPricePerSquareFoot\":185.07,\"minPricePerSquareFoot\":65.3,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1720,\"medianSquareFootage\":1600,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":62.3,\"medianDaysOnMarket\":50,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":327,\"newListings\":13,\"totalListings\":173},{\"propertyType\":\"Townhouse\",\"averagePrice\":297459,\"medianPrice\":279990,\"minPrice\":119900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":180.07,\"medianPricePerSquareFoot\":170.37,\"minPricePerSquareFoot\":126.34,\"maxPricePerSquareFoot\":386.84,\"averageSquareFootage\":1665,\"medianSquareFootage\":1600,\"minSquareFootage\":949,\"maxSquareFootage\":2150,\"averageDaysOnMarket\":48.33,\"medianDaysOnMarket\":24,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":347,\"newListings\":6,\"totalListings\":45}],\"dataByBedrooms\":[{\"bedrooms\":1,\"averagePrice\":186725,\"medianPrice\":153000,\"minPrice\":147900,\"maxPrice\":237000,\"averagePricePerSquareFoot\":240.84,\"medianPricePerSquareFoot\":191.01,\"minPricePerSquareFoot\":184.88,\"maxPricePerSquareFoot\":342.62,\"averageSquareFootage\":795,\"medianSquareFootage\":800,\"minSquareFootage\":610,\"maxSquareFootage\":968,\"averageDaysOnMarket\":123,\"medianDaysOnMarket\":56,\"minDaysOnMarket\":20,\"maxDaysOnMarket\":314,\"newListings\":0,\"totalListings\":4},{\"bedrooms\":2,\"averagePrice\":241458,\"medianPrice\":247000,\"minPrice\":39900,\"maxPrice\":535000,\"averagePricePerSquareFoot\":209.67,\"medianPricePerSquareFoot\":200.89,\"minPricePerSquareFoot\":65.3,\"maxPricePerSquareFoot\":386.84,\"averageSquareFootage\":1171,\"medianSquareFootage\":1077,\"minSquareFootage\":833,\"maxSquareFootage\":2292,\"averageDaysOnMarket\":71.94,\"medianDaysOnMarket\":53,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":347,\"newListings\":3,\"totalListings\":49},{\"bedrooms\":3,\"averagePrice\":281817,\"medianPrice\":279500,\"minPrice\":64900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":182.21,\"medianPricePerSquareFoot\":177.76,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1613,\"medianSquareFootage\":1587,\"minSquareFootage\":700,\"maxSquareFootage\":2800,\"averageDaysOnMarket\":46.78,\"medianDaysOnMarket\":36,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":203,\"newListings\":13,\"totalListings\":133},{\"bedrooms\":4,\"averagePrice\":403217,\"medianPrice\":399900,\"minPrice\":119900,\"maxPrice\":750000,\"averagePricePerSquareFoot\":172.89,\"medianPricePerSquareFoot\":151.58,\"minPricePerSquareFoot\":128.61,\"maxPricePerSquareFoot\":329.63,\"averageSquareFootage\":2371,\"medianSquareFootage\":2100,\"minSquareFootage\":1560,\"maxSquareFootage\":3499,\"averageDaysOnMarket\":64.31,\"medianDaysOnMarket\":50,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":210,\"newListings\":5,\"totalListings\":39},{\"bedrooms\":5,\"averagePrice\":506874,\"medianPrice\":425000,\"minPrice\":345000,\"maxPrice\":850000,\"averagePricePerSquareFoot\":173.42,\"medianPricePerSquareFoot\":151.07,\"minPricePerSquareFoot\":108.55,\"maxPricePerSquareFoot\":351.97,\"averageSquareFootage\":3162,\"medianSquareFootage\":2990,\"minSquareFootage\":2152,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":115.14,\"medianDaysOnMarket\":44,\"minDaysOnMarket\":3,\"maxDaysOnMarket\":327,\"newListings\":0,\"totalListings\":8}],\"history\":{\"2024-08\":{\"date\":\"2024-08-01T00:00:00.000Z\",\"averagePrice\":304256,\"medianPrice\":284900,\"minPrice\":75000,\"maxPrice\":975000,\"averagePricePerSquareFoot\":177.79,\"medianPricePerSquareFoot\":174.82,\"minPricePerSquareFoot\":115.81,\"maxPricePerSquareFoot\":342.62,\"averageSquareFootage\":1759,\"medianSquareFootage\":1591,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":56.94,\"medianDaysOnMarket\":41,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":327,\"newListings\":56,\"totalListings\":215,\"dataByPropertyType\":[{\"propertyType\":\"Condo\",\"averagePrice\":175445,\"medianPrice\":154500,\"minPrice\":154500,\"maxPrice\":196390,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":124,\"medianDaysOnMarket\":18,\"minDaysOnMarket\":18,\"maxDaysOnMarket\":230,\"newListings\":1,\"totalListings\":2},{\"propertyType\":\"Land\",\"averagePrice\":422500,\"medianPrice\":75000,\"minPrice\":75000,\"maxPrice\":770000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":174,\"medianDaysOnMarket\":112,\"minDaysOnMarket\":112,\"maxDaysOnMarket\":236,\"newListings\":0,\"totalListings\":2},{\"propertyType\":\"Manufactured\",\"averagePrice\":255856,\"medianPrice\":175000,\"minPrice\":99000,\"maxPrice\":975000,\"averagePricePerSquareFoot\":122.27,\"medianPricePerSquareFoot\":122.27,\"minPricePerSquareFoot\":122.27,\"maxPricePerSquareFoot\":122.27,\"averageSquareFootage\":1962,\"medianSquareFootage\":1962,\"minSquareFootage\":1962,\"maxSquareFootage\":1962,\"averageDaysOnMarket\":51.67,\"medianDaysOnMarket\":31,\"minDaysOnMarket\":4,\"maxDaysOnMarket\":269,\"newListings\":3,\"totalListings\":9},{\"propertyType\":\"Single Family\",\"averagePrice\":309096,\"medianPrice\":285000,\"minPrice\":100000,\"maxPrice\":799900,\"averagePricePerSquareFoot\":179.6,\"medianPricePerSquareFoot\":160.38,\"minPricePerSquareFoot\":115.81,\"maxPricePerSquareFoot\":342.62,\"averageSquareFootage\":1857,\"medianSquareFootage\":1700,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":61.46,\"medianDaysOnMarket\":46,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":327,\"newListings\":31,\"totalListings\":157},{\"propertyType\":\"Townhouse\",\"averagePrice\":297521,\"medianPrice\":284990,\"minPrice\":129900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":177.36,\"medianPricePerSquareFoot\":177.36,\"minPricePerSquareFoot\":167.19,\"maxPricePerSquareFoot\":192.33,\"averageSquareFootage\":1611,\"medianSquareFootage\":1573,\"minSquareFootage\":1573,\"maxSquareFootage\":1674,\"averageDaysOnMarket\":34.18,\"medianDaysOnMarket\":19,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":304,\"newListings\":21,\"totalListings\":45}],\"dataByBedrooms\":[{\"bedrooms\":1,\"averagePrice\":197967,\"medianPrice\":209000,\"minPrice\":147900,\"maxPrice\":237000,\"averagePricePerSquareFoot\":342.62,\"medianPricePerSquareFoot\":342.62,\"minPricePerSquareFoot\":342.62,\"maxPricePerSquareFoot\":342.62,\"averageSquareFootage\":610,\"medianSquareFootage\":610,\"minSquareFootage\":610,\"maxSquareFootage\":610,\"averageDaysOnMarket\":132,\"medianDaysOnMarket\":69,\"minDaysOnMarket\":56,\"maxDaysOnMarket\":271,\"newListings\":0,\"totalListings\":3},{\"bedrooms\":2,\"averagePrice\":262526,\"medianPrice\":247000,\"minPrice\":125000,\"maxPrice\":770000,\"averagePricePerSquareFoot\":197.26,\"medianPricePerSquareFoot\":189.21,\"minPricePerSquareFoot\":119.98,\"maxPricePerSquareFoot\":305.16,\"averageSquareFootage\":1373,\"medianSquareFootage\":1427,\"minSquareFootage\":899,\"maxSquareFootage\":2292,\"averageDaysOnMarket\":79.33,\"medianDaysOnMarket\":58,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":304,\"newListings\":5,\"totalListings\":49},{\"bedrooms\":3,\"averagePrice\":282168,\"medianPrice\":279990,\"minPrice\":75000,\"maxPrice\":765000,\"averagePricePerSquareFoot\":176.35,\"medianPricePerSquareFoot\":177.36,\"minPricePerSquareFoot\":115.81,\"maxPricePerSquareFoot\":237.32,\"averageSquareFootage\":1607,\"medianSquareFootage\":1573,\"minSquareFootage\":1000,\"maxSquareFootage\":2600,\"averageDaysOnMarket\":40.81,\"medianDaysOnMarket\":26,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":224,\"newListings\":44,\"totalListings\":124},{\"bedrooms\":4,\"averagePrice\":412531,\"medianPrice\":399000,\"minPrice\":119900,\"maxPrice\":799900,\"averagePricePerSquareFoot\":149.85,\"medianPricePerSquareFoot\":147.38,\"minPricePerSquareFoot\":137.97,\"maxPricePerSquareFoot\":160.38,\"averageSquareFootage\":2618,\"medianSquareFootage\":2490,\"minSquareFootage\":2044,\"maxSquareFootage\":3469,\"averageDaysOnMarket\":65.27,\"medianDaysOnMarket\":46,\"minDaysOnMarket\":3,\"maxDaysOnMarket\":204,\"newListings\":7,\"totalListings\":33},{\"bedrooms\":5,\"averagePrice\":559165,\"medianPrice\":449990,\"minPrice\":345000,\"maxPrice\":975000,\"averagePricePerSquareFoot\":150.59,\"medianPricePerSquareFoot\":150.5,\"minPricePerSquareFoot\":132.96,\"maxPricePerSquareFoot\":160.32,\"averageSquareFootage\":3300,\"medianSquareFootage\":2990,\"minSquareFootage\":2152,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":137.8,\"medianDaysOnMarket\":69,\"minDaysOnMarket\":3,\"maxDaysOnMarket\":327,\"newListings\":0,\"totalListings\":6}]},\"2024-09\":{\"date\":\"2024-09-01T00:00:00.000Z\",\"averagePrice\":291174,\"medianPrice\":277990,\"minPrice\":20000,\"maxPrice\":1500000,\"averagePricePerSquareFoot\":187.39,\"medianPricePerSquareFoot\":178,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1695,\"medianSquareFootage\":1600,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":63.65,\"medianDaysOnMarket\":41,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":357,\"newListings\":66,\"totalListings\":269,\"dataByPropertyType\":[{\"propertyType\":\"Condo\",\"averagePrice\":149900,\"medianPrice\":149900,\"minPrice\":149900,\"maxPrice\":149900,\"averagePricePerSquareFoot\":133.72,\"medianPricePerSquareFoot\":133.72,\"minPricePerSquareFoot\":133.72,\"maxPricePerSquareFoot\":133.72,\"averageSquareFootage\":1121,\"medianSquareFootage\":1121,\"minSquareFootage\":1121,\"maxSquareFootage\":1121,\"averageDaysOnMarket\":47,\"medianDaysOnMarket\":47,\"minDaysOnMarket\":47,\"maxDaysOnMarket\":47,\"newListings\":0,\"totalListings\":1},{\"propertyType\":\"Land\",\"averagePrice\":214267,\"medianPrice\":90000,\"minPrice\":20000,\"maxPrice\":1500000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":124.16,\"medianDaysOnMarket\":84,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":357,\"newListings\":2,\"totalListings\":33},{\"propertyType\":\"Manufactured\",\"averagePrice\":204000,\"medianPrice\":175000,\"minPrice\":39900,\"maxPrice\":850000,\"averagePricePerSquareFoot\":154.29,\"medianPricePerSquareFoot\":122.27,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":351.97,\"averageSquareFootage\":1574,\"medianSquareFootage\":1500,\"minSquareFootage\":1000,\"maxSquareFootage\":2415,\"averageDaysOnMarket\":47.15,\"medianDaysOnMarket\":31,\"minDaysOnMarket\":4,\"maxDaysOnMarket\":298,\"newListings\":4,\"totalListings\":13},{\"propertyType\":\"Multi-Family\",\"averagePrice\":265000,\"medianPrice\":265000,\"minPrice\":265000,\"maxPrice\":265000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":6.5,\"medianDaysOnMarket\":6,\"minDaysOnMarket\":6,\"maxDaysOnMarket\":7,\"newListings\":2,\"totalListings\":2},{\"propertyType\":\"Single Family\",\"averagePrice\":311771,\"medianPrice\":286278,\"minPrice\":85018,\"maxPrice\":774900,\"averagePricePerSquareFoot\":191.94,\"medianPricePerSquareFoot\":185.07,\"minPricePerSquareFoot\":65.3,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1718,\"medianSquareFootage\":1620,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":60.25,\"medianDaysOnMarket\":44,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":327,\"newListings\":46,\"totalListings\":174},{\"propertyType\":\"Townhouse\",\"averagePrice\":297282,\"medianPrice\":279990,\"minPrice\":124900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":181.38,\"medianPricePerSquareFoot\":173.74,\"minPricePerSquareFoot\":131.61,\"maxPricePerSquareFoot\":386.84,\"averageSquareFootage\":1665,\"medianSquareFootage\":1600,\"minSquareFootage\":949,\"maxSquareFootage\":2150,\"averageDaysOnMarket\":43.15,\"medianDaysOnMarket\":20,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":333,\"newListings\":12,\"totalListings\":46}],\"dataByBedrooms\":[{\"bedrooms\":1,\"averagePrice\":188475,\"medianPrice\":160000,\"minPrice\":147900,\"maxPrice\":237000,\"averagePricePerSquareFoot\":243.02,\"medianPricePerSquareFoot\":199.75,\"minPricePerSquareFoot\":184.88,\"maxPricePerSquareFoot\":342.62,\"averageSquareFootage\":795,\"medianSquareFootage\":800,\"minSquareFootage\":610,\"maxSquareFootage\":968,\"averageDaysOnMarket\":115,\"medianDaysOnMarket\":56,\"minDaysOnMarket\":6,\"maxDaysOnMarket\":300,\"newListings\":1,\"totalListings\":4},{\"bedrooms\":2,\"averagePrice\":248749,\"medianPrice\":244500,\"minPrice\":39900,\"maxPrice\":770000,\"averagePricePerSquareFoot\":207.67,\"medianPricePerSquareFoot\":193.88,\"minPricePerSquareFoot\":65.3,\"maxPricePerSquareFoot\":386.84,\"averageSquareFootage\":1167,\"medianSquareFootage\":1076,\"minSquareFootage\":833,\"maxSquareFootage\":2292,\"averageDaysOnMarket\":75.94,\"medianDaysOnMarket\":53,\"minDaysOnMarket\":4,\"maxDaysOnMarket\":333,\"newListings\":14,\"totalListings\":51},{\"bedrooms\":3,\"averagePrice\":284498,\"medianPrice\":280000,\"minPrice\":64900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":182.79,\"medianPricePerSquareFoot\":177.76,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1628,\"medianSquareFootage\":1587,\"minSquareFootage\":700,\"maxSquareFootage\":2800,\"averageDaysOnMarket\":42.04,\"medianDaysOnMarket\":32,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":203,\"newListings\":39,\"totalListings\":135},{\"bedrooms\":4,\"averagePrice\":404014,\"medianPrice\":399000,\"minPrice\":119900,\"maxPrice\":774900,\"averagePricePerSquareFoot\":177.94,\"medianPricePerSquareFoot\":154.62,\"minPricePerSquareFoot\":132.81,\"maxPricePerSquareFoot\":340.62,\"averageSquareFootage\":2323,\"medianSquareFootage\":2045,\"minSquareFootage\":1560,\"maxSquareFootage\":3469,\"averageDaysOnMarket\":60.76,\"medianDaysOnMarket\":44,\"minDaysOnMarket\":3,\"maxDaysOnMarket\":208,\"newListings\":9,\"totalListings\":38},{\"bedrooms\":5,\"averagePrice\":506874,\"medianPrice\":425000,\"minPrice\":345000,\"maxPrice\":850000,\"averagePricePerSquareFoot\":173.42,\"medianPricePerSquareFoot\":151.07,\"minPricePerSquareFoot\":108.55,\"maxPricePerSquareFoot\":351.97,\"averageSquareFootage\":3162,\"medianSquareFootage\":2990,\"minSquareFootage\":2152,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":109.14,\"medianDaysOnMarket\":30,\"minDaysOnMarket\":3,\"maxDaysOnMarket\":327,\"newListings\":1,\"totalListings\":8}]},\"2024-10\":{\"date\":\"2024-10-01T00:00:00.000Z\",\"averagePrice\":291933,\"medianPrice\":276990,\"minPrice\":20000,\"maxPrice\":1500000,\"averagePricePerSquareFoot\":186.53,\"medianPricePerSquareFoot\":178,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1698,\"medianSquareFootage\":1600,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":67.21,\"medianDaysOnMarket\":45,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":348,\"newListings\":21,\"totalListings\":265,\"dataByPropertyType\":[{\"propertyType\":\"Condo\",\"averagePrice\":144900,\"medianPrice\":144900,\"minPrice\":144900,\"maxPrice\":144900,\"averagePricePerSquareFoot\":129.26,\"medianPricePerSquareFoot\":129.26,\"minPricePerSquareFoot\":129.26,\"maxPricePerSquareFoot\":129.26,\"averageSquareFootage\":1121,\"medianSquareFootage\":1121,\"minSquareFootage\":1121,\"maxSquareFootage\":1121,\"averageDaysOnMarket\":61,\"medianDaysOnMarket\":61,\"minDaysOnMarket\":61,\"maxDaysOnMarket\":61,\"newListings\":0,\"totalListings\":1},{\"propertyType\":\"Land\",\"averagePrice\":235056,\"medianPrice\":90000,\"minPrice\":20000,\"maxPrice\":1500000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":137.52,\"medianDaysOnMarket\":113,\"minDaysOnMarket\":15,\"maxDaysOnMarket\":348,\"newListings\":0,\"totalListings\":32},{\"propertyType\":\"Manufactured\",\"averagePrice\":213976,\"medianPrice\":175000,\"minPrice\":39900,\"maxPrice\":850000,\"averagePricePerSquareFoot\":149.04,\"medianPricePerSquareFoot\":120.36,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":351.97,\"averageSquareFootage\":1599,\"medianSquareFootage\":1500,\"minSquareFootage\":1000,\"maxSquareFootage\":2415,\"averageDaysOnMarket\":49,\"medianDaysOnMarket\":25,\"minDaysOnMarket\":4,\"maxDaysOnMarket\":312,\"newListings\":2,\"totalListings\":12},{\"propertyType\":\"Multi-Family\",\"averagePrice\":265000,\"medianPrice\":265000,\"minPrice\":265000,\"maxPrice\":265000,\"averagePricePerSquareFoot\":null,\"medianPricePerSquareFoot\":null,\"minPricePerSquareFoot\":null,\"maxPricePerSquareFoot\":null,\"averageSquareFootage\":null,\"medianSquareFootage\":null,\"minSquareFootage\":null,\"maxSquareFootage\":null,\"averageDaysOnMarket\":6.5,\"medianDaysOnMarket\":6,\"minDaysOnMarket\":6,\"maxDaysOnMarket\":7,\"newListings\":0,\"totalListings\":2},{\"propertyType\":\"Single Family\",\"averagePrice\":307585,\"medianPrice\":285000,\"minPrice\":85018,\"maxPrice\":750000,\"averagePricePerSquareFoot\":191.54,\"medianPricePerSquareFoot\":185.07,\"minPricePerSquareFoot\":65.3,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1720,\"medianSquareFootage\":1600,\"minSquareFootage\":610,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":62.3,\"medianDaysOnMarket\":50,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":327,\"newListings\":13,\"totalListings\":173},{\"propertyType\":\"Townhouse\",\"averagePrice\":297459,\"medianPrice\":279990,\"minPrice\":119900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":180.07,\"medianPricePerSquareFoot\":170.37,\"minPricePerSquareFoot\":126.34,\"maxPricePerSquareFoot\":386.84,\"averageSquareFootage\":1665,\"medianSquareFootage\":1600,\"minSquareFootage\":949,\"maxSquareFootage\":2150,\"averageDaysOnMarket\":48.33,\"medianDaysOnMarket\":24,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":347,\"newListings\":6,\"totalListings\":45}],\"dataByBedrooms\":[{\"bedrooms\":1,\"averagePrice\":186725,\"medianPrice\":153000,\"minPrice\":147900,\"maxPrice\":237000,\"averagePricePerSquareFoot\":240.84,\"medianPricePerSquareFoot\":191.01,\"minPricePerSquareFoot\":184.88,\"maxPricePerSquareFoot\":342.62,\"averageSquareFootage\":795,\"medianSquareFootage\":800,\"minSquareFootage\":610,\"maxSquareFootage\":968,\"averageDaysOnMarket\":123,\"medianDaysOnMarket\":56,\"minDaysOnMarket\":20,\"maxDaysOnMarket\":314,\"newListings\":0,\"totalListings\":4},{\"bedrooms\":2,\"averagePrice\":241458,\"medianPrice\":247000,\"minPrice\":39900,\"maxPrice\":535000,\"averagePricePerSquareFoot\":209.67,\"medianPricePerSquareFoot\":200.89,\"minPricePerSquareFoot\":65.3,\"maxPricePerSquareFoot\":386.84,\"averageSquareFootage\":1171,\"medianSquareFootage\":1077,\"minSquareFootage\":833,\"maxSquareFootage\":2292,\"averageDaysOnMarket\":71.94,\"medianDaysOnMarket\":53,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":347,\"newListings\":3,\"totalListings\":49},{\"bedrooms\":3,\"averagePrice\":281817,\"medianPrice\":279500,\"minPrice\":64900,\"maxPrice\":765000,\"averagePricePerSquareFoot\":182.21,\"medianPricePerSquareFoot\":177.76,\"minPricePerSquareFoot\":64.9,\"maxPricePerSquareFoot\":500,\"averageSquareFootage\":1613,\"medianSquareFootage\":1587,\"minSquareFootage\":700,\"maxSquareFootage\":2800,\"averageDaysOnMarket\":46.78,\"medianDaysOnMarket\":36,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":203,\"newListings\":13,\"totalListings\":133},{\"bedrooms\":4,\"averagePrice\":403217,\"medianPrice\":399900,\"minPrice\":119900,\"maxPrice\":750000,\"averagePricePerSquareFoot\":172.89,\"medianPricePerSquareFoot\":151.58,\"minPricePerSquareFoot\":128.61,\"maxPricePerSquareFoot\":329.63,\"averageSquareFootage\":2371,\"medianSquareFootage\":2100,\"minSquareFootage\":1560,\"maxSquareFootage\":3499,\"averageDaysOnMarket\":64.31,\"medianDaysOnMarket\":50,\"minDaysOnMarket\":2,\"maxDaysOnMarket\":210,\"newListings\":5,\"totalListings\":39},{\"bedrooms\":5,\"averagePrice\":506874,\"medianPrice\":425000,\"minPrice\":345000,\"maxPrice\":850000,\"averagePricePerSquareFoot\":173.42,\"medianPricePerSquareFoot\":151.07,\"minPricePerSquareFoot\":108.55,\"maxPricePerSquareFoot\":351.97,\"averageSquareFootage\":3162,\"medianSquareFootage\":2990,\"minSquareFootage\":2152,\"maxSquareFootage\":4588,\"averageDaysOnMarket\":115.14,\"medianDaysOnMarket\":44,\"minDaysOnMarket\":3,\"maxDaysOnMarket\":327,\"newListings\":0,\"totalListings\":8}]}}},\"rentalData\":{\"lastUpdatedDate\":\"2024-10-14T00:00:00.000Z\",\"averageRent\":1521,\"medianRent\":1495,\"minRent\":750,\"maxRent\":2700,\"averageRentPerSquareFoot\":1.38,\"medianRentPerSquareFoot\":1.3,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":2.59,\"averageSquareFootage\":1175,\"medianSquareFootage\":1100,\"minSquareFootage\":590,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":25,\"medianDaysOnMarket\":8,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":304,\"newListings\":18,\"totalListings\":76,\"dataByPropertyType\":[{\"propertyType\":\"Apartment\",\"averageRent\":1148,\"medianRent\":1050,\"minRent\":750,\"maxRent\":1975,\"averageRentPerSquareFoot\":1.23,\"medianRentPerSquareFoot\":1.13,\"minRentPerSquareFoot\":1.03,\"maxRentPerSquareFoot\":1.59,\"averageSquareFootage\":957,\"medianSquareFootage\":950,\"minSquareFootage\":650,\"maxSquareFootage\":1560,\"averageDaysOnMarket\":17.43,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":80,\"newListings\":5,\"totalListings\":15},{\"propertyType\":\"Condo\",\"averageRent\":1322,\"medianRent\":1595,\"minRent\":775,\"maxRent\":1595,\"averageRentPerSquareFoot\":1.01,\"medianRentPerSquareFoot\":1.01,\"minRentPerSquareFoot\":1.01,\"maxRentPerSquareFoot\":1.01,\"averageSquareFootage\":1576,\"medianSquareFootage\":1576,\"minSquareFootage\":1576,\"maxSquareFootage\":1576,\"averageDaysOnMarket\":3.67,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":9,\"newListings\":2,\"totalListings\":3},{\"propertyType\":\"Manufactured\",\"averageRent\":1700,\"medianRent\":1700,\"minRent\":1700,\"maxRent\":1700,\"averageRentPerSquareFoot\":1.14,\"medianRentPerSquareFoot\":1.14,\"minRentPerSquareFoot\":1.14,\"maxRentPerSquareFoot\":1.14,\"averageSquareFootage\":1492,\"medianSquareFootage\":1492,\"minSquareFootage\":1492,\"maxSquareFootage\":1492,\"averageDaysOnMarket\":48,\"medianDaysOnMarket\":48,\"minDaysOnMarket\":48,\"maxDaysOnMarket\":48,\"newListings\":0,\"totalListings\":1},{\"propertyType\":\"Single Family\",\"averageRent\":1618,\"medianRent\":1600,\"minRent\":875,\"maxRent\":2700,\"averageRentPerSquareFoot\":1.44,\"medianRentPerSquareFoot\":1.38,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":2.59,\"averageSquareFootage\":1175,\"medianSquareFootage\":1120,\"minSquareFootage\":590,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":29.38,\"medianDaysOnMarket\":10,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":304,\"newListings\":9,\"totalListings\":54},{\"propertyType\":\"Townhouse\",\"averageRent\":1783,\"medianRent\":1750,\"minRent\":1750,\"maxRent\":1848,\"averageRentPerSquareFoot\":1.13,\"medianRentPerSquareFoot\":1.11,\"minRentPerSquareFoot\":1.11,\"maxRentPerSquareFoot\":1.14,\"averageSquareFootage\":1598,\"medianSquareFootage\":1580,\"minSquareFootage\":1580,\"maxSquareFootage\":1616,\"averageDaysOnMarket\":1,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":1,\"newListings\":2,\"totalListings\":3}],\"dataByBedrooms\":[{\"bedrooms\":1,\"averageRent\":842,\"medianRent\":850,\"minRent\":750,\"maxRent\":945,\"averageRentPerSquareFoot\":1.35,\"medianRentPerSquareFoot\":1.3,\"minRentPerSquareFoot\":1.06,\"maxRentPerSquareFoot\":1.57,\"averageSquareFootage\":679,\"medianSquareFootage\":650,\"minSquareFootage\":590,\"maxSquareFootage\":800,\"averageDaysOnMarket\":27.33,\"medianDaysOnMarket\":9,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":80,\"newListings\":1,\"totalListings\":7},{\"bedrooms\":2,\"averageRent\":1411,\"medianRent\":1275,\"minRent\":875,\"maxRent\":2700,\"averageRentPerSquareFoot\":1.47,\"medianRentPerSquareFoot\":1.45,\"minRentPerSquareFoot\":0.92,\"maxRentPerSquareFoot\":2.59,\"averageSquareFootage\":972,\"medianSquareFootage\":980,\"minSquareFootage\":825,\"maxSquareFootage\":1275,\"averageDaysOnMarket\":26.38,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":304,\"newListings\":7,\"totalListings\":31},{\"bedrooms\":3,\"averageRent\":1701,\"medianRent\":1750,\"minRent\":1150,\"maxRent\":2395,\"averageRentPerSquareFoot\":1.35,\"medianRentPerSquareFoot\":1.33,\"minRentPerSquareFoot\":1.01,\"maxRentPerSquareFoot\":2.09,\"averageSquareFootage\":1294,\"medianSquareFootage\":1254,\"minSquareFootage\":947,\"maxSquareFootage\":1792,\"averageDaysOnMarket\":21.56,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":223,\"newListings\":9,\"totalListings\":29},{\"bedrooms\":4,\"averageRent\":1848,\"medianRent\":1850,\"minRent\":1595,\"maxRent\":2150,\"averageRentPerSquareFoot\":1.23,\"medianRentPerSquareFoot\":1.23,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":1.56,\"averageSquareFootage\":1534,\"medianSquareFootage\":1500,\"minSquareFootage\":1213,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":29.33,\"medianDaysOnMarket\":17,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":96,\"newListings\":1,\"totalListings\":9}],\"history\":{\"2024-08\":{\"date\":\"2024-08-01T00:00:00.000Z\",\"averageRent\":1496,\"medianRent\":1495,\"minRent\":750,\"maxRent\":2800,\"averageRentPerSquareFoot\":1.33,\"medianRentPerSquareFoot\":1.27,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":2.52,\"averageSquareFootage\":1171,\"medianSquareFootage\":1100,\"minSquareFootage\":650,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":66.49,\"medianDaysOnMarket\":16,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":39,\"totalListings\":96,\"dataByPropertyType\":[{\"propertyType\":\"Apartment\",\"averageRent\":1118,\"medianRent\":1050,\"minRent\":750,\"maxRent\":1975,\"averageRentPerSquareFoot\":1.24,\"medianRentPerSquareFoot\":1.07,\"minRentPerSquareFoot\":0.98,\"maxRentPerSquareFoot\":2.16,\"averageSquareFootage\":922,\"medianSquareFootage\":950,\"minSquareFootage\":650,\"maxSquareFootage\":1560,\"averageDaysOnMarket\":63.82,\"medianDaysOnMarket\":17,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":8,\"totalListings\":23},{\"propertyType\":\"Condo\",\"averageRent\":1257,\"medianRent\":875,\"minRent\":775,\"maxRent\":1695,\"averageRentPerSquareFoot\":1.08,\"medianRentPerSquareFoot\":1.08,\"minRentPerSquareFoot\":1.06,\"maxRentPerSquareFoot\":1.1,\"averageSquareFootage\":1363,\"medianSquareFootage\":1500,\"minSquareFootage\":800,\"maxSquareFootage\":1576,\"averageDaysOnMarket\":3.83,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":10,\"newListings\":3,\"totalListings\":6},{\"propertyType\":\"Manufactured\",\"averageRent\":1548,\"medianRent\":1395,\"minRent\":1395,\"maxRent\":1700,\"averageRentPerSquareFoot\":1.03,\"medianRentPerSquareFoot\":0.93,\"minRentPerSquareFoot\":0.93,\"maxRentPerSquareFoot\":1.14,\"averageSquareFootage\":1496,\"medianSquareFootage\":1492,\"minSquareFootage\":1492,\"maxSquareFootage\":1500,\"averageDaysOnMarket\":16.5,\"medianDaysOnMarket\":14,\"minDaysOnMarket\":14,\"maxDaysOnMarket\":19,\"newListings\":1,\"totalListings\":2},{\"propertyType\":\"Single Family\",\"averageRent\":1642,\"medianRent\":1600,\"minRent\":875,\"maxRent\":2800,\"averageRentPerSquareFoot\":1.42,\"medianRentPerSquareFoot\":1.33,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":2.52,\"averageSquareFootage\":1192,\"medianSquareFootage\":1140,\"minSquareFootage\":675,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":80.86,\"medianDaysOnMarket\":16,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":24,\"totalListings\":60},{\"propertyType\":\"Townhouse\",\"averageRent\":1749,\"medianRent\":1750,\"minRent\":1649,\"maxRent\":1850,\"averageRentPerSquareFoot\":1.09,\"medianRentPerSquareFoot\":1.02,\"minRentPerSquareFoot\":1.02,\"maxRentPerSquareFoot\":1.17,\"averageSquareFootage\":1607,\"medianSquareFootage\":1616,\"minSquareFootage\":1580,\"maxSquareFootage\":1616,\"averageDaysOnMarket\":12.6,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":43,\"newListings\":3,\"totalListings\":5}],\"dataByBedrooms\":[{\"bedrooms\":1,\"averageRent\":953,\"medianRent\":825,\"minRent\":750,\"maxRent\":1610,\"averageRentPerSquareFoot\":1.41,\"medianRentPerSquareFoot\":1.3,\"minRentPerSquareFoot\":1.06,\"maxRentPerSquareFoot\":2.16,\"averageSquareFootage\":732,\"medianSquareFootage\":675,\"minSquareFootage\":650,\"maxSquareFootage\":950,\"averageDaysOnMarket\":33.44,\"medianDaysOnMarket\":17,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":124,\"newListings\":3,\"totalListings\":10},{\"bedrooms\":2,\"averageRent\":1349,\"medianRent\":1195,\"minRent\":875,\"maxRent\":2650,\"averageRentPerSquareFoot\":1.38,\"medianRentPerSquareFoot\":1.27,\"minRentPerSquareFoot\":0.92,\"maxRentPerSquareFoot\":2.52,\"averageSquareFootage\":986,\"medianSquareFootage\":980,\"minSquareFootage\":825,\"maxSquareFootage\":1275,\"averageDaysOnMarket\":87,\"medianDaysOnMarket\":17,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":17,\"totalListings\":40},{\"bedrooms\":3,\"averageRent\":1708,\"medianRent\":1695,\"minRent\":875,\"maxRent\":2800,\"averageRentPerSquareFoot\":1.3,\"medianRentPerSquareFoot\":1.2,\"minRentPerSquareFoot\":0.93,\"maxRentPerSquareFoot\":2.09,\"averageSquareFootage\":1356,\"medianSquareFootage\":1300,\"minSquareFootage\":947,\"maxSquareFootage\":1792,\"averageDaysOnMarket\":62.11,\"medianDaysOnMarket\":12,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":16,\"totalListings\":37},{\"bedrooms\":4,\"averageRent\":1881,\"medianRent\":1850,\"minRent\":1795,\"maxRent\":2150,\"averageRentPerSquareFoot\":1.25,\"medianRentPerSquareFoot\":1.26,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":1.56,\"averageSquareFootage\":1534,\"medianSquareFootage\":1500,\"minSquareFootage\":1213,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":30,\"medianDaysOnMarket\":17,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":96,\"newListings\":3,\"totalListings\":9}]},\"2024-09\":{\"date\":\"2024-09-01T00:00:00.000Z\",\"averageRent\":1536,\"medianRent\":1550,\"minRent\":750,\"maxRent\":2800,\"averageRentPerSquareFoot\":1.38,\"medianRentPerSquareFoot\":1.33,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":2.52,\"averageSquareFootage\":1180,\"medianSquareFootage\":1120,\"minSquareFootage\":590,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":32.03,\"medianDaysOnMarket\":8,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":33,\"totalListings\":80,\"dataByPropertyType\":[{\"propertyType\":\"Apartment\",\"averageRent\":1148,\"medianRent\":975,\"minRent\":750,\"maxRent\":1975,\"averageRentPerSquareFoot\":1.25,\"medianRentPerSquareFoot\":1.07,\"minRentPerSquareFoot\":1.03,\"maxRentPerSquareFoot\":1.59,\"averageSquareFootage\":949,\"medianSquareFootage\":850,\"minSquareFootage\":650,\"maxSquareFootage\":1560,\"averageDaysOnMarket\":18.69,\"medianDaysOnMarket\":17,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":80,\"newListings\":7,\"totalListings\":14},{\"propertyType\":\"Condo\",\"averageRent\":1210,\"medianRent\":875,\"minRent\":775,\"maxRent\":1595,\"averageRentPerSquareFoot\":1.01,\"medianRentPerSquareFoot\":1.01,\"minRentPerSquareFoot\":1.01,\"maxRentPerSquareFoot\":1.01,\"averageSquareFootage\":1576,\"medianSquareFootage\":1576,\"minSquareFootage\":1576,\"maxSquareFootage\":1576,\"averageDaysOnMarket\":3,\"medianDaysOnMarket\":1,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":9,\"newListings\":2,\"totalListings\":4},{\"propertyType\":\"Manufactured\",\"averageRent\":1700,\"medianRent\":1700,\"minRent\":1700,\"maxRent\":1700,\"averageRentPerSquareFoot\":1.14,\"medianRentPerSquareFoot\":1.14,\"minRentPerSquareFoot\":1.14,\"maxRentPerSquareFoot\":1.14,\"averageSquareFootage\":1492,\"medianSquareFootage\":1492,\"minSquareFootage\":1492,\"maxSquareFootage\":1492,\"averageDaysOnMarket\":48,\"medianDaysOnMarket\":48,\"minDaysOnMarket\":48,\"maxDaysOnMarket\":48,\"newListings\":0,\"totalListings\":1},{\"propertyType\":\"Single Family\",\"averageRent\":1637,\"medianRent\":1600,\"minRent\":875,\"maxRent\":2800,\"averageRentPerSquareFoot\":1.43,\"medianRentPerSquareFoot\":1.37,\"minRentPerSquareFoot\":0.86,\"maxRentPerSquareFoot\":2.52,\"averageSquareFootage\":1179,\"medianSquareFootage\":1120,\"minSquareFootage\":590,\"maxSquareFootage\":2100,\"averageDaysOnMarket\":38.81,\"medianDaysOnMarket\":10,\"minDaysOnMarket\":1,\"maxDaysOnMarket\":365,\"newListings\":21,\"totalListings\":58},{\"propertyType\":\"Townhouse\",\"averageRent\":1783,\"medianRent
[...]
